################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleAPI/.vs/SampleAPI/FileContentIndex
